{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="w3-container w3-padding-64">
  <h2>Are you sure you want to delete {{playlist.name}}?</h2>

  <form action="#" method="POST">
    <button type="submit" class="w3-button w3-light-grey w3-section" id="submit" type="submit">Delete</button>
    <button type="button" class="w3-button w3-light-grey w3-section">
      <a href="{{url_for('playlistsPage', playlist_id=playlist.id)}}" class="cancel">
        Cancel
      </a>
    </button>
  </form>
</div>
{% endblock %}
