{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="w3-container w3-padding-64">
    <h1>Edit Song</h1>

    <form action="#" method="POST">
      <div>
        <label for="name">Name:</label>
        <input type="text" maxlength="50" class="w3-input w3-padding-16" name="name" value="{{item.name}}">
        
        <label for="genre">Genre:</label>
        <input type="text" class="w3-input w3-padding-16" maxlength="20" name="genre" value="{{item.genre}}">

        <label for="link">Link:</label>
        <input type="text" class="w3-input w3-padding-16" maxlength="100" name="link" value="{{item.link}}">
        
        <button type="submit" class="w3-button w3-light-grey w3-section" id="submit" type="submit">Save</button>
        <button type="button" class="w3-button w3-light-grey w3-section">
          <a href="{{url_for('playlistsPage', playlist_id=item.playlist.id)}}" class="cancel">
            Cancel
          </a>
        </button>
      </div>
    </form>
    
  </div>
{% endblock %}