{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row divider green">
  <div class="col-md-12"></div>
</div>

<div class="row banner menu">
  <div class="col-md-11 col-md-offset-1 padding-none">
    <h1>{{playlist.name}}</h1>
  </div>
</div>

<div class="flash">
  {% with messages = get_flashed_messages() %}
    {% if messages %}  
      <ul>
        {% for message in messages %}
          <li><strong>{{ message }}</strong></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
  
<div class="row padding-top padding-bottom">
  <div class="col-md-1"></div>

  
{% if playlists !=[] %} 
<div class="row">
  <div>
    <h2>Recent Playlists</h2>
      {% for i in playlists %}
        <div class="song-item">
          <h3>{{i.name}}</h3>
          <p>{{i.link}}</p>
          <p class="song-genre">{{i.genre}}</p>
          <a href="{{url_for('editSongItem', playlist_id=playlist.id, song_id=i.id)}}">Edit</a> | 
          <a href="{{url_for('deleteSongItem', playlist_id=playlist.id, song_id=i.id )}}">Delete</a>
        </div>
      {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}


