{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="w3-content content" style="max-width:1100px">

  <div class="w3-center">
      <h1>{{playlist.name}}</h1>
      <p>{{playlist.description}}</p>
  </div>

    <div class="flash">
    {% with messages = get_flashed_messages() %}
      {% if messages %}  
        <ul>
          {% for message in messages %}
            <li><strong>{{ message }}</strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
    
  <hr>

  <div class="w3-center">
    <span>
      <a href="{{url_for('editPlaylistItem', playlist_id=playlist.id)}}" class="w3-button">Edit Playlist</a>
      <a href="{{url_for('deletePlaylistItem', playlist_id=playlist.id)}}" class="w3-button">Delete Playlist</a>
      <a href="{{url_for('newSongItem', playlist_id=playlist.id)}}" class="w3-button">Add a Song</a>
    </span>
  </div>

  <hr>

  {% if items !=[] %} 
  <div class="w3-container w3-padding-16">
    <div>
        {% for i in items %}
          <div class="song-item">
            <h3><a href="{{i.link}}">{{i.name}}</a></h3>
            <p class="song-genre">{{i.genre}}</p>
            <a href="{{url_for('editSongItem', playlist_id=playlist.id, song_id=i.id)}}" class="w3-light-grey button">Edit</a> | 
            <a href="{{url_for('deleteSongItem', playlist_id=playlist.id, song_id=i.id )}}" class="w3-light-grey button">Delete</a>
          </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

